html {
    position: relative;
    min-height: 100%;
}
body{
	background: #f7f7f7;
	margin-bottom: 100px;
	overflow-x: hidden;
}
@font-face{
	font-family: FontAwesome;
	src: url('../fonts/fontawesome-webfont.ttf');
}
