html {
    position: relative;
    min-height: 100%;
}
body{
	background: #f7f7f7;
	margin-bottom: 100px;
	overflow-x: hidden;
}
@font-face{
	font-family: FontAwesome;
	src: url('../fonts/fontawesome-webfont.ttf');
}

/*label link for login page forgot password*/
.forgot-pass-label{
	display: block;
	width: 100%;
}
.label-link{
	float: right;
	font-size: 12px;
}

/* Footer design */
footer{
	background: #464a4c;
	position: absolute;
	bottom: 0;
    height: 30px;
    width: 100%;
    margin-top: 30px;
    color: #ffffff;
}