html {
    position: relative;
    min-height: 100%;
}
body{
	background: #f7f7f7;
	margin-bottom: 100px;
	overflow-x: hidden;
}
@font-face{
	font-family: FontAwesome;
	src: url('../fonts/fontawesome-webfont.ttf');
}
/*Navbar design*/

/* overriding navbar background color from #f7f7f7 to #ffffff */
.bg-faded {
	background: #fff;
}
.navbar{
	padding: 0;
    line-height: 2.0rem;
    border-bottom: 1px solid hsla(0,0%,75%,.45);
}
.navbar-brand{
	padding-left: 1rem;
}
.navbar-toggleable-md .navbar-nav .nav-link {
	border-left: 1px solid hsla(0,0%,75%,.45);
}
.navbar-toggleable-md .navbar-nav .nav-br {
	border-right: 1px solid hsla(0,0%,75%,.45);
}
.navbar-toggleable-md .navbar-nav .nav-link:hover {
	background: #f7f7f7;
}
.navbar-toggleable-md .navbar-nav .active{
	background: #f7f7f7;
}

@media (min-width: 992px){
	.navbar-toggleable-md .navbar-nav .nav-link {
	    padding-right: 1rem;
	    padding-left: 1rem;
	}
}
/*Hero unit design*/
.hero-unit{
	background: #ffffff;
	position: relative;
}

.hero-unit img{
	width: 100%;
	height: 320px;
}

@media (max-width: 768px) { 
	.hero-unit img{
		height: 200px;
	}
 }

/*Course card design*/
.course-card a:link,.course-card a:active,.course-card a:visited{
	text-decoration: none;
	color: #000000;
}
.course-card .card:hover{
	color: #000;
}
.course-card img{
	width: auto;
	height: 150px;
}
/*Author image*/
.author-img img{
	width: 80px;
	height: 80px;
	border-radius: 80px;
	float: left;
}

.course-brief{
	float: left;
	padding-left: 5px;
}

.course-brief i{
	color: green;
}

.price{
	font-weight: bold;
}
/*Display inline global class*/
.display-inline{
	display: inline;
}
.display-inline-block{
	display: inline-block;
}


/* Footer design */
footer{
	background: #464a4c;
	position: absolute;
	bottom: 0;
    height: 80px;
    width: 100%;
    margin-top: 40px;
}

footer .pages ul>li{
	list-style-type: none;
	padding-top: 10px;
	padding-left: 10px;
	display: inline-block;
}
footer .pages ul>li:first-child{
	padding-left: 0;
}
footer ul>li a:link,footer ul>li a:active,footer ul>li a:visited{
	color: #f7f7f7;
	text-decoration: none;
}
footer ul>li a:hover{
	color: #fff;
	text-decoration: underline;
}

footer .credit{
	color: #f7f7f7;
	text-align: center;
}

/*cart backgroud for what-i-will-learn*/
.card-bg{
	background-color: #f9f9f9 !important;
}
.wiwl-check:before{
	font-family: FontAwesome;
	left: 0;
    padding-right:5px;
    content: "\f00c"; 
    color: #5cb85c;
}
.requirements-icon:before{
	font-family: FontAwesome;
	left: 0;
    padding-right:5px;
    content: "\f111"; 
    color: #5cb85c;
}

.course_lecture-list tr{
	background-color: #fff;
	border-bottom: 1px dotted #5cb85c;
	padding: 5px;
}.course_lecture-list tr:hover{
	background-color: #f9f9f9;
	border-bottom: 1px dotted #5cb85c;
	padding: 5px;
}
.course_lecture-list tr:last-child{
	border-bottom: 0;
}

.course_lecture-list td:last-child{
	text-align: right;
}

/*label link for login page forgot password*/
.forgot-pass-label{
	display: block;
	width: 100%;
}

.label-link{
	float: right;
	font-size: 12px;
}


button:hover{
	cursor: pointer;
}


/* Modal full screen */
.modal-dialog{
	width: 100%;
}

.modal-lg {
    max-width: 100%;
}